.container {
    text-align: center;
    width: 75%;
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container2 {
    display: flex;
    align-items: center;
}
.i1,.i5 {
    height: 20vw;
    width: 17%;
}
.i2,.i4 {
    height: 24vw;
    width: 21%;
    background: url(Images/1.jpeg);
    background-size: cover;
}
.i3 {
    height: 28vw;
    width: 24%;
    background: url(Images/2.jpeg);
}
.btns {
    display: flex;
    margin: auto;
    width: 30%;
    justify-content: space-between;
}
button {
    background: transparent;
    outline: none;
    border: none;
    font-size: 20px;
}
img {
    object-fit: cover;
}